* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0%;
}

/*Navigation*/


#logo {
    display: block;
    float: left;
    margin: 1em
}

li.logo {
    display: inline-block;
    font-size: 2em;
}

li.logo a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

.icon:hover li.nav {
    display: block
}

nav {
    width: 80%;
    text-align: center;
    margin: auto
}

header {
    background-color: orange;
    padding: 0;
    margin: auto;
    z-index: 101;
    width: 100%;
    overflow: hidden;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: 999;
    padding: 0.75em
}

header ul {
    display: block;
    float: right;
    margin: 2em 0 2em;
}

header ul li.nav {
    display: inline;
    padding: 0 2em;
}


header li.nav a:hover {
    color: #777777
}

/*End of Navigation*/


/*main*/
.main-container {
    width: 100%;
    padding: 1em 0;
    overflow: auto
}

.main-container main {
    margin: auto;

}

main {
    width: 70%;
}

article h2.article {
    font-size: 2em;
    background: orange;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;


}

.left {
    position: relative;
    display: inline-block;
    padding: 50px 0;
    width: 100%
}

#about,
#portfolio,
#contact,
#blog {
    margin-bottom: 35px;
    border: 1px solid black;
    box-shadow: 3px 4px 7px #888888;
}

div p.article {

    color: black;
    font-family: sans-serif;
    padding: 0.5em;
}

/*end of main*/


/* about page*/
p.about {

    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1em;
    font-size: 1.5em;
}

#about img {
    float: left;
    width: 40%;
    padding: 1em
}

#about h1 {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 2em;
    font-weight: 999;
}

#about ul {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style: none;
}

#about ul li {
    width: 60%;
    font-size: 1.5em;
    margin: auto;
    border-bottom: 1px solid orange;
    margin-bottom: 2em;
    padding-bottom: 1rem;
}

/*end of about*/


/*Portfolio*/
.portfolio {
    margin: 0 auto;
}

h1.portfolio {
    font-family: 'Roboto', sans-serif;
    padding-top: 1.5em;
    font-size: 1.75em;
    text-align: center;
}

p.portfolio {
    font-size: 1.5em;
    padding: 1.5em 0 1.5em;
    margin: 0 1.5em 0;
    border-bottom: 1px solid #777777;
}

.imageGroup {
    width: 90%;
    margin: auto;
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

.image {
    position: relative;
    width: 27%;
    margin: 0 1em 1em 1em;
}

.mobiletext {
    display: none;
}

.image img {
    width: 100%
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.9);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.image:hover .overlay {
    opacity: 1;
}

/*End of Portfolio*/


/*Contact*/
.main-container.contact {
    height: 100vh;
}

#contact {
    width: 100%;
    margin: auto;

}

h1.contact {

    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding: 1em;
    font-size: 1.5em;
}

.email {
    text-align: center;
    padding-bottom: 1em;
}

.email a {
    font-size: 1.5em;
    color: black;
    font-weight: 999;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.socialmedia {
    font-size: 32px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 20px 5px;
    border-radius: 50px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-github {
    background-color: #125688;
    color: white
}

/*End of Contact*/

/*Blog*/
.blogGroup {
    width: 90%;
    margin: auto;
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

.blogpost {
    position: relative;
    width: 27%;
    padding: 1em;
    margin: 0 1em 1em 1em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blogpost:hover {
    background-color: orange;
    color: white
}

.blogpost img {
    width: 100%
}

.blogpost h1 {
    border-bottom: 1px solid gray;
    font-family: 'Roboto', sans-serif;;
}

.blogpost h2 {
    font-size: 0.75em;
    font-family: 'Source Sans Pro', sans-serif;
}

/*End of Blog*/


footer {
    color: white;
    background: gray;
    padding: 2em;
    text-align: center
}
footer a{
    color:white
}

@media screen and (max-width: 1200px) {
    #logo {
        float: none;
        margin: 0;
    }

    header ul {
        float: none
    }

    main {
        width: 90%;
    }
}

@media screen and(max-width: 1080px) {
    .overlay {
        font-size: 12px;

    }
}

@media screen and (max-width: 850px) {  
    #logo {
        float: none;
        margin: 0;
    }

    header {
        top: 0
    }

    header ul {
        float: none;
        clear: both;
        margin: 0;
    }

    nav ul li.nav {
        display: block;
        padding: 1em
    }
    nav ul li a{
        border-bottom: 1px solid white;
    }

    nav {
        width: 100%
    }

    main {
        width: 95%
    }

    .left {
        position: relative;
        width: 95%;
        display: inline;
    }

    #about img,
    .image,
    .blogpost {
        float: none;
        width: 95%;
        padding: 1em 0;
    }
    .blogpost:hover{
        display: none;
    }
    .overlay {
        display: none
    }

    .mobiletext {
        display: block;
        text-align: center;
        font-size: 1.5em;

    }
@media screen and (max-width: 500px) {
    .main-container.contact{
        height: auto;
    }
    p.email{
        font-size: 0.75em;
    }
}

}